PORT=3000

# ── Base de datos — Supabase PostgreSQL ──────────────────────────────────────
DATABASE_URL="postgresql://postgres.nduobxgymxsollmefojc:newshunwooart@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.nduobxgymxsollmefojc:newshunwooart@aws-1-us-west-2.pooler.supabase.com:5432/postgres"

# JWT
JWT_SECRET="Kj8#sL29!xPq7@zA91LmQwE2rTyUoP5v"
JWT_EXPIRES_IN="7d"

# ── Correo transaccional — Resend ─────────────────────────────────────────────
RESEND_API_KEY="re_VPqPN56G_6mnHupjxz4o2EjAFRhuYTELo"
RESEND_FROM="noreply@jinwoong.me"
FRONTEND_URL="http://localhost:5173"
